@import "tailwindcss";

@theme {
  --color-primary: #fdc800;
  --color-secondary: #432dd7;
  --color-ink: #000000;
  --color-surface: #fbfbf9;
  --color-text: #1c293c;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-surface);
    color: var(--color-text);
  }
}
